*{
    border: 0px solid red;
}
header{
    background-color: aliceblue;
    z-index: 1;
}
section > h2{
    margin-bottom: 30px;
    margin-left: 1.2rem;
}

div.card > a:link, div.card > a:visited{
    text-decoration: none;
}

img.card-img {
    object-fit: cover;
}

div.card-body > p.article-subhead{
    height: 70px;
    overflow: hidden;
}

div.carousel-item.active > img {
    filter:brightness(.4);
    aspect-ratio: 2.5/1;
    object-fit: cover;
}
h2.article-header{
    font-weight: normal;
    font-size:large;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    flex-basis: 60%;
    margin: 0;
}
/*START of MEDIA QUERRIES */
@media (max-width:767px) {
    div.card-body > p.article-subhead{
        height: 100%;
    }
    img.card-img {
        height: 100%;
    }
    div.carousel-item.active > img {
        height:300px;
    }
}

@media (min-width:1400px){
    div.carousel-item.active > img {
        aspect-ratio: 3/1;
    }
}
@media (max-width: 374.99px){
    div.carousel-caption > h1{
        font-size: 7vw;
    }
}
/*END of MEDIA QUERRIES */