body{
    font-size:16px;
    color: white;
    background-color: #611224;
    font-family: Oxygen, sans-serif;
}
#header-nav{
    background-color: #f6b319;
    border: 0;
    box-shadow: 0 1px 5px #000;
}
#logo-img{
    background-image: url("https://www.davidchuschinabistro.com/images/restaurant-logo_medium.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 150px;
    height: 150px;
    margin: 0px 15px 10px 0;
}
#kosher-certificate{
    width: 30px;
    height: 30px;
}
.navbar-brand {
    padding-top: 25px;
}
.navbar-brand h1{
    font-family: 'Lora',serif;
    color: #557c3e;
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 1px 1px 1px #222;
    margin-top: 0;
    margin-bottom: 0;
    line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus, .navbar-brand a:link, .navbar-brand a:visited{
    text-decoration: none;
}
.navbar-brand p {
    color:#000;
    text-transform: uppercase;
    font-size: .7em;
    margin-top: 15px;
}
.navbar-brand p span{
    vertical-align: middle;
}
#navbar-row{
    width: 100%;
}
ul#nav-list{
    width: 100%;
    margin-top: 10px;
}
#nav-list a{
    color: #951C49;
}
#nav-list li:nth-child(1):hover, #nav-list li:nth-child(2):hover, #nav-list li:nth-child(3):hover {
    background: #e7e7e7;
}
#nav-list svg{
    margin-left: auto;
    margin-right: auto;
}
#nav-list a span{
    font-size: 1.3em;
}
#phone{
    margin-top: 18px;
}
#phone a{
    text-align: right;
    padding-bottom: 0;
}
#phone a:hover{
    background: #e7e7e7;
}
#phone div{
    color: #557c3e;
    padding-right: 0px;
    text-align: right;
}

@media (max-width: 575.99px) {
    .navbar-brand h1{
        font-size: 6vw;
    }
    .navbar-brand p span{
        font-size: 3vw;
    }
    header{
        width: 100%;
    }
}

@media (max-width: 991.99px){
    #navbarSupportedContent li{
        margin: 5px;
    }
    #navbarSupportedContent a{
        width: 100%;
    }
    #nav-list svg{
        margin-right: 5px;
    }
}
@media (min-width:992px) and (max-width: 1199.99px){
    .jumbotron{
        margin-top: 30px;
        background: url("https://www.davidchuschinabistro.com/images/jumbotron_992.jpg") no-repeat;
        background-size:cover;
        height: 558px;
        box-shadow: 0 0 50px #3f0c1f;
        border: 2px solid #3f0c1f;
    }
}
@media (min-width:768px) and (max-width: 991.99px){
    .jumbotron{
        margin-top: 30px;
        background: url("https://www.davidchuschinabistro.com/images/jumbotron_768.jpg") no-repeat;
        background-size:cover;
        height: 432px;
        box-shadow: 0 0 50px #3f0c1f;
        border: 2px solid #3f0c1f;
    }
}
@media (min-width:1200px){
    .jumbotron{
        margin-top: 50px;
        background: url("https://www.davidchuschinabistro.com/images/jumbotron_1200.jpg") no-repeat;
        background-size:cover;
        height: 675px;
        box-shadow: 0 0 50px #3f0c1f;
        border: 2px solid #3f0c1f;
    }
}
#call-btn{
    margin: 10px;
    margin-top: 25px;
    box-shadow: 0 0 70px #3f0c1f;
}
.jumbotron{
    margin-top: 30px;
    box-shadow: 0 0 50px #3f0c1f;
    border: 2px solid #3f0c1f;
    border-radius: 6px;
    padding: 0;
}
#menu-tile, #specials-tile, #map-tile{
    height: 250px;
    width: 100%;
    position: relative;
    margin-bottom: 15px;
    border: 2px solid #3f0c1f;
    overflow: hidden;
}

#menu-tile:hover, #specials-tile:hover, #map-tile:hover{
    box-shadow: 0 1px 5px 1px #cccccc;
}