*{
    box-sizing: border-box;
    border: 0px solid red;
}
.ms-Grid-row{
    width:100%
}
@media (min-width: 1024px) {
.ms-lg1, .ms-lg2, .ms-lg3, .ms-lg4, .ms-lg5, .ms-lg6, .ms-lg7, .ms-lg8, .ms-lg9, .ms-lg10, .ms-lg11, .ms-lg12{
    float: left;
}
.ms-lg1{
    width: 8.33%;
}
.ms-lg2{
    width: 16.67%;
}
.ms-lg3{
    width: 25%;
}
.ms-lg4{
    width: 33.33%;
}
.ms-lg5{
    width: 41.67%;
}
.ms-lg6{
    width: 50%;
}
.ms-lg7{
    width: 58.33%;
}
.ms-lg8{
    width: 66.67%;
}
.ms-lg9{
    width: 75%;
}
.ms-lg10{
    width: 83.33%;
}
.ms-lg11{
    width: 91.67%;
}
.ms-lg12{
    width: 100%;
}
section#article, section#scoreboard{
    float: right;
}
}
@media (min-width:480px) and (max-width:1023px) {
    .ms-md1, .ms-md2, .ms-md3, .ms-md4, .ms-md5, .ms-md6, .ms-md7, .ms-md8, .ms-md9, .ms-md10, .ms-md11, .ms-md12{
        float: left;
    }
    .ms-md1{
        width: 8.33%;
    }
    .ms-md2{
        width: 16.67%;
    }
    .ms-md3{
        width: 25%;
    }
    .ms-md4{
        width: 33.33%;
    }
    .ms-md5{
        width: 41.67%;
    }
    .ms-md6{
        width: 50%;
    }
    .ms-md7{
        width: 58.33%;
    }
    .ms-md8{
        width: 66.67%;
    }
    .ms-md9{
        width: 75%;
    }
    .ms-md10{
        width: 83.33%;
    }
    .ms-md11{
        width: 91.67%;
    }
    .ms-md12{
        width: 100%;
    }
}
header > nav{
    margin-top: 0.67em;
    margin-bottom: 0.67em;
}
nav li > a:visited:link{
    text-decoration: none;
}