header > h1 {
    color:cadetblue;
}
.top-navbar li {
    list-style: none;
    width: 200px;
    text-align: center;
    background-color: darkgray;
    color: darkgreen;
    margin: 5px 0px;
}
.top-navbar a:link, a:visited{
    text-emphasis-style: none;
    color:lawngreen;
}
.score-tag{
    margin: 10px;
}
.read-more{
    margin-top: -20px;
    font-size: 14px;
}
footer{
    margin-top: 50px;
}
.article-tag{
    margin: 50px 0px;
}
.article-title{
    margin: -10px 0;
}
