*{
    border: 0px solid red;
}

header{
    background: wheat;
}
ul.d-md-none{
    margin-top: 10px;
}
li#beef-nav{
    background:steelblue;
    border: 2px solid black;
}
li#beef-nav a:link, li#beef-nav a:visited{
    color: white;
}
li#chicken-nav{
    background: tomato;
    border: 2px solid black;
    border-bottom: 0;
}
li#chicken-nav a:link, li#chicken-nav a:visited{
    color: white;
}
li#sushi-nav{
    background:springgreen;
    border: 2px solid black;
    border-top: 0;
}
li#sushi-nav a:link, li#sushi-nav a:visited{
    color: black;
}
article#Chicken{
    background: bisque;
}
article#Beef{
    background: aliceblue;
}
article#Sushi{
    background: azure;
}
